.education {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  width: var(--max-width);
}

.titleEducation {
  font-size: 24px;
  font-weight: bold;
}

.containerEducation {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  width: 100%;
}

.itemEducation {
  width: 100%;
}

.itemEducation > p {
  font-size: 20px;
  padding: 16px;
}

.list {
  list-style: disc inside none;
  display: list-item;
}
